<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MazeGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>309DB4FA1D10CF6C00BBB325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309DB5121D10CF6F00BBB325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309DB51D1D10CF7000BBB325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
